.jet-button {
    height: 40px;
    border-radius: 100px;
    padding: 0 24px 0 16px;
    box-sizing: border-box;
    font-size: 14px;
    
    cursor: pointer;
    outline: none;
    letter-spacing: 0.1px;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100px;

        opacity: 0;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // content
    &-icon {
        margin-bottom: -2px;
    }

    &-text-content {
        margin-left: 8px;
    }

    // state
    &-hovered:not(&-disabled)::before {
        opacity: $hover-state-layer-opacity;
    }

    &-focused:not(&-disabled)::before {
        opacity: $focus-state-layer-opacity;
    }

    &-clicked:not(&-disabled)::before {
        opacity: $clicked-state-layer-opacity;
    }
}

// ===
// Filled style
// ===

.jet-button-filled {
    background-color: $primary;
    color: $on-primary;

    &::before {
        background-color: $on-primary;
    }

    &.jet-button-hovered {
        @extend %shadow-level1;
    }

    &.jet-button-clicked {
        box-shadow: none;
    }
}

// ===
// Outlined style
// ===

.jet-button-outlined {
    border: 1px solid $outline;

    color: $primary;

    &::before {
        background-color: $primary;
    }

    &.jet-button-focused {
        border-color: $primary;
    }

    &.jet-button-clicked {
        border-color: $outline;
    }
}

// ===
// Text style
// ===
.jet-button-text {
    padding-left: 8px;
    padding-right: 8px;

    color: $primary;

    &::before {
        background-color: $primary;
    }

    .jet-button-text-content {
        margin-left: 0px;
    }

    &.jet-button-with-icon {
        padding-left: 12px;
        padding-right: 16px;

        .jet-button-text-content {
            margin-left: 8px;
        }
    }
}

// ===
// Elevated style
// ===

.jet-button-elevated {
    @extend %shadow-level1;

    // one more selector to increase style priority
    &.jet-button.jet-button-clicked {
        @extend %shadow-level1;
    }

    &.jet-button-hovered {
        @extend %shadow-level2;
    }
}

// ===
// Disabled style
// ===

.jet-button-disabled {
    cursor: default;

    background-color: $on-surface-opacity-012;
    color: $on-surface-opacity-038;
}

.jet-button-disabled.jet-button-outlined {
    border-color: $on-surface-opacity-012;
}

// more selectors to increase style priority
.jet-component.jet-button.jet-button-disabled {
    @extend %shadow-level0;

    &.jet-button-hovered {
        @extend %shadow-level0;
    }
}

// ===
// Only icon style
// ===
.jet-component.jet-button-only-icon {
    padding: 0;

    & .jet-button-icon {
        padding: 8px 9px;
    }
}

