@import 'material-icons/iconfont/material-icons.css';

.jet-component {
    font-family: arial, serif;
}

.jet-no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
