$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

.jet-component {
    font-family: arial, serif;
}

.jet-no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
