// ===
// Colors
// ===

$primary: #6750A4;
$on-primary: #FFFFFF;

$secondary: #625B71;
$on-secondary: #FFFFFF;

$on-surface: #1C1B1F;

// ===
// Other tokens
// ===

$hover-state-layer-opacity: 0.08;
$focus-state-layer-opacity: 0.12;

// ===
// Styles
// ===

%shadow-level1 {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}